/** document properties */
html
{
    background: #eee;
    font-family: system-ui;
    font-size: 1rem;
    line-height: 1;
}

/** remove default element padding, margin */
html *
{
    /* border: 0; */
    margin: 0;
    padding: 0;
}

header
{
    background: #121212;
    color: #eee;
    padding: 0.5rem 0;
    width: 100%;
}

body
{
    text-align: center;
}

#userFigure
{
    /* background: red; */
    justify-content: end;
    align-items: end;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-size: 1.5rem;
}

mark
{
    background: none;
    font-weight: bold;
}

body > p
{
    margin: auto;
    padding: 1rem 0;
    width: 50%;
}